<h1>Park</h1>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @park.description %>
</p>

<strong>Rangers:</strong>
<ul>
<% @park.rangers.each do |ranger| %>
  <li><%= ranger.name %></li>
<% end %>
</ul>

<p>
  <%= cl_image_tag(@park.picture, :width => 200, :height => 200, :crop => :fill) %>
</p>

<%= link_to 'Edit', edit_park_path(@park), class: 'btn btn-default' %>
<%= link_to 'Destroy', @park, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<br>
<%= link_to 'Back', parks_path %>
