<%= bootstrap_form_for(ranger) do |f| %>
  <% if ranger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ranger.errors.count, "error") %> prohibited this ranger from being saved:</h2>

      <ul>
      <% ranger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.collection_check_boxes :park_ids, @parks, :id, :name %>
  <%= f.submit %>
<% end %>
